.hero {
    text-align: center;
    padding: 100px 20px;
    margin-top: 80px;
    background-image: url(../../img/chess-set.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero h2 {
    color: white;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
}

.hero-links {
    text-align: center;
    margin-top: 30px;
}

.hero-links a {
    margin: 0 10px;
}

.about {
    padding: 50px 20px;
    background-color: var(--cor-card);
    text-align: center;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.pages article {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pages article h4 {
    margin-bottom: 15px;
}

.pages article p {
    margin-bottom: 20px;
}

.pages article a.btn {
    margin-top: auto;
}

.pages article a:not(.btn):hover {
    color: var(--cor-secundaria);
}